<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="board">{{ board|safe }}</div>
    <script>
      const xhttp = new XMLHttpRequest();
      xhttp.onload = function () {
        document.getElementById("board").innerHTML = this.responseText;
      };
      function loadScreen() {
        xhttp.open("GET", "../app.py");
        xhttp.send();
      }
      function refresh() {
        loadScreen();
        setTimeout(refresh, 1000);
      }
      setTimeout(refresh, 1000);
    </script>
  </body>
</html>
