<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <title>FyreChess 1.3.2</title>
  </head>
  <body>
    <div id="board" style="display: inline-block; vertical-align: top">
      {{ board|safe }}
    </div>
    <!-- TODO: Make text box stay on the top right of screen-->
    <div
      id="text"
      style="
        float: right;
        word-wrap: break-text;
        vertical-align: top;
        margin-left: 5px;
      "
    >
      <h1>Chess Engine (v1.3.2)</h1>
      <h2>Moves so far (pgn):</h2>
      <p>{{ livePGN }}</p>
      <p>Current evaluation: {{ evaluation }}</p>
      <h3>What do you move?</h3>
      <!-- <form action="/" method="POST">
      <input type="text" /> Enter move:
      <input type="submit" value="Submit" />
    </form> -->
    </div>
    <script>
      function loadDoc() {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function () {
          console.log(this.responseText);
          document.getElementById("board").innerHTML = this.responseText;
        };
        xhttp.open("GET", "/xmlboard.txt");
        xhttp.send();
      }
      function loadDoc2() {
        const reader = new FileReader();
        reader.addEventListener(
          "load",
          () => {
            console.log(reader.result);
            document.getElementById("board").innerHTML = reader.result;
          },
          false
        );
        const file = new File(
          [],
          "/Users/alan/Desktop/Wawa Documents/Personal/Coding Projects/FyreChess/FyreChess Engine/xmlboard.txt"
        );
        reader.readAsText(file);
      }
      function reload() {
        location.reload();
      }
      function refresh() {
        loadDoc();
        setTimeout(refresh, 1000);
      }
      refresh();
    </script>
  </body>
</html>
